<%- include('partials/header') -%>

<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CloudAmp</a>
    <div class="navbar-nav d-flex flex-row-reverse px-2">
      <a class="btn btn-outline-light mx-2" href="/signup">Signup</a>
      <a class="btn btn-outline-light mx-2" href="/login">Login</a>
    </div>
  </div>
</nav>

<main class="container first"></main>

<%- include('partials/footer') -%>
