<%- include('partials/header') -%>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <div class="container-lg">
    <a class="navbar-brand text-info" href="/main">Cloud<span class="text-light">Amp</span></a>
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="first">
  <% if (locals.messages.errors) { %>
  <% messages.errors.forEach( el => { %>
  <div class="alert alert-danger"><%= el.msg %></div>
  <% }) %>
  <% } %>
  <% if (locals.messages.info) { %>
  <% messages.info.forEach( el => { %>
  <div class="alert alert-danger"><%= el.msg %></div>
  <% }) %>
  <% } %>
</section>

<main class="container-lg py-5 d-flex flex-column justify-content-center align-items-center">
  <div class="py-5 text-light border border-info rounded g-0 d-flex row justify-content-center align-items-center">
    <h2 class="mb-5 text-center text-light">Signup For <span class="text-info">Cloud</span>Amp</h2>
    <section class="col-10 text-info">
      <form class="" action="/signup" method="POST">
        <div class="mb-4">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" name="userName" />
        </div>
        <div class="mb-4">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
        <div class="mb-4">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
        </div>
        <button type="submit" class="pill btn btn-outline-info">Submit</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>