<%- include('partials/header') -%>
<div class="container-fluid">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CloudAmp</a>
      <div class="navbar-nav d-flex flex-row-reverse px-2">
        <a class="pill btn btn-outline-light mx-2" href="/logout">Sign Out</a>
        <a class="pill btn btn-outline-light mx-2 d-none" href="/profile">Profile</a>
        <a class="pill btn btn-outline-light mx-2" href="/main">Home</a>
        <span class="navbar-text text-light mx-2 text-capitalize"
          ><%= user.userName %></span
        >
      </div>
    </div>
  </nav>

  <div class="d-flex justify-content-center align-items-center bg-dark row mt-5 first text-light">
    <div class="col-6">
      <div class="mt-5">
        <h2>Add a song</h2>
        <form
          action="/upload/createSong"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" />
          </div>
          <div class="mb-3">
            <label for="artist" class="form-label">Artist</label>
            <textarea class="form-control" id="artist" name="artist"></textarea>
          </div>
          <div class="mb-3">
            <label for="songUpload" class="form-label">Song</label>
            <input
              type="file"
              class="form-control"
              id="songUpload"
              name="file"
            />
          </div>
          <button type="submit" class="pill btn btn-primary" value="Upload">
            Submit
          </button>
          <!-- <button type="submit" class="btn btn-primary" value="Upload">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            >Submit</span>
            <span class="visually-hidden">Loading...</span> -->
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="pt-5 text-center text-light">
    <p class="lead text-warning">Warning: Files must be smaller than 5 Megabytes.</p>
  </div>
</div>
<%- include('partials/footer') -%>
