:root {
  --dark-blue: #1f363d;
  --light-blue: #40798c;
  --seafoam: #70a9a1;
  --sage: #9ec1a3;
  --ligth-green: #cfe0c3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
  position: relative;
}

img {
  /* height: 50px; */
  width: 50px;
}

.navbar {
  background-color: #111 !important;
}

.first {
  content: '';
  background-color: black;
  margin-top: 56px !important;
}

.hero {
  height: calc(100vh - (50vh + 166px));
}

.library {
  position: absolute;
  background-color: #212529;
  height: 50vh;
  bottom: 110px;
  left: 0;
}

.songParent {
  height: 100%;
  overflow-y: auto;
}

.songDiv:hover {
  cursor: pointer;
}

.progress {
  height: 16px;
  width: 70%;
  border-top: 5px solid #111;
  border-bottom: 5px solid #111;
  border-radius: 7px;
}

.progress:hover {
  cursor: pointer;
}

.player {
  background-color: #111 !important;
  height: 110px;
}

.playerBtn {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.form-range {
  width: 110px;
}

.pill {
  border-radius: 50px;
}

/* Background Video */

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 56px);
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
}

.video-background-overlay-2 {
  position: absolute;
  top: 56px;
  left: 0;
  height: calc(100vh - (50vh + 166px));
  width: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
}
