* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fa-play {
  width: 60px;
  text-align: center;
}

.fa-play:hover {
  color: lightblue;
  transform: scale(1.5);
}

.audioTracks {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: row;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.audioTracks:hover {
  background-color: #111;
  cursor: pointer;
}

.trackTitle,
.trackArtist,
.albumTitle,
.trackDuration {
  line-height: 60px;
  width: calc((100% - 115px) / 4);
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trackTitle {
  padding-left: 1em;
}

.trackDuration {
  text-align: center;
}

img {
  height: 50px;
  width: 50px;
  margin: 5px 5px 5px 0;
}

.trackDetails {
  display: inline-block;
}
