* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Scrollbar */

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

#scroll::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #0dcaf0;
}

body {
  background-color: black;
  position: relative;
}

img {
  /* height: 50px; */
  width: 50px;
}

span {
  min-width: 70px;
}

button:focus {
  box-shadow: none !important;
}

/* Accordion */

.accordion-body {
  background-color: black;
  color: #0dcaf0;
}

.accordion-item {
  border-color: #0dcaf0;
}

.accordion-button {
  background-color: #111 !important;
  color: white;
}

.accordion-button:not(.collapsed) {
  color: white;
}

.displayed {
  display: block;
}

.fullPage {
  min-height: calc(100vh - 56px);
}

.pill {
  border-radius: 50px;
}

.first {
  content: 'a';
  margin-top: 56px !important;
}

.navbar {
  background-color: #111 !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: none !important;
}
.navbar-toggler-icon::before {
  font-family: FontAwesome;
  content: '\f0c9'; /* fa-bars, fa-navicon */
  border: none;
}

.hero {
  height: calc(100vh - (50vh + 166px));
  width: 100%;
}

.library {
  position: absolute;
  background-color: #212529;
  height: 50vh;
  width: 100%;
  bottom: 110px;
}

.songHeader {
  height: auto;
  width: 100%;
}

.songParent {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  overflow-y: auto;
}

.songDiv {
  min-height: 60px;
  width: 100%;
}

.songDiv:hover {
  cursor: pointer;
}

.fa-trash:hover {
  color: #dc3545;
}

.progress {
  height: 16px;
  width: 70%;
  border-top: 5px solid #111;
  border-bottom: 5px solid #111;
  border-radius: 7px;
}

.progress:hover {
  cursor: pointer;
}

.player {
  background-color: #111 !important;
  height: 110px;
  width: 100%;
}

.playerBtn {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.form-range {
  width: 110px;
}

/* Background Video */

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 56px);
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
}

.video-background-overlay-2 {
  position: absolute;
  top: 0px;
  left: 0;
  height: calc(100vh - (50vh + 166px));
  width: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
}

input[type='range']::-webkit-slider-thumb {
  background: #0dcaf0;
}
input[type='range']::-moz-range-thumb {
  background: #0dcaf0;
}
input[type='range']::-ms-thumb {
  background: #0dcaf0;
}

@media only screen and (max-width: 541px) {
  .video-background-overlay-2 {
    top: 0px;
  }
}
